@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Monoton);

html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: rgb(220,160,40);
  
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
}


h1{
  font-family: 'Monoton', cursive;
  position: absolute;
  top: 30px;
  left: 50px;
  border: 4px solid;
  padding: 10px 20px;
  text-transform: uppercase;
  color: greenyellow;
  font-size: 400%;
  background:rgba(black,0.6);
  text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.5)
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

.page {
top: 0px;
width: 500px;
background: white;
padding: 10px 30px;
border: 1px #eee solid;
position: absolute;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
