
html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background: rgb(220,160,40);
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

.page {
top: 0px;
width: 500px;
background: white;
padding: 10px 30px;
border: 1px #eee solid;
position: absolute;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */

  .sky{
    width: 3000px;
    top: 0;
    .clouds{
      z-index: 2;
      width: 1500px;
      height: 250px;
      position: absolute;
      border: none;
    }
    .clouds{
      background: url('../images/clouds.png') repeat-x top left;
      left: 0;
      width: 3000px;
    }
    .sun{
      background: url('../images/sun.png') no-repeat top left;
      left: 30%;
      z-index: 2;
      width: 1000px;
      height: 280px;
      position: fixed;
      border: none;
      top: 0;

    }
  }

  .back-ground{
    z-index: 400;
    width: 3200px;
    background: url('../images/second-ground.png') repeat-x bottom left;
    bottom: 100px;
    height: 363px;
  }

  .second-ground{
    z-index: 500;
    width: 3000px;
    background: url('../images/mid-ground.png') repeat-x bottom left;
    bottom: 100px;
    height: 250px;
  }

  .floor{
    z-index: 600;
    width: 2500px;
    background: url('../images/floor.png') repeat-x top left;
    bottom: 0;
    height: 250px;
  }

  .robotin{
    width: 3000px;
    bottom: 400px;
    z-index: 650;

    .robot1{
      width: 1200px;
      height: 450px;
      position: absolute;
      right: -100px;
      border: none;

      background: url('../images/robotin_1.png') no-repeat top left;
    }

}
