@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Monoton);

html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background: rgb(220,160,40);
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

.page {
top: 0px;
width: 500px;
background: white;
padding: 10px 30px;
border: 1px #eee solid;
position: absolute;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */

.sky{
  width: 3000px;
  top: 0;
  .clouds{
    z-index: 2;
    width: 1500px;
    height: 250px;
    position: absolute;
    border: none;
  }
  .clouds{
    background: url('../images/clouds.png') repeat-x top left;
    left: 0;
    width: 3000px;
  }
  .sun{
    background: url('../images/sun.png') no-repeat top left;
    left: 30%;
    z-index: 2;
    width: 1000px;
    height: 280px;
    position: fixed;
    border: none;
    top: 0;

  }
}
.back-ground{
  z-index: 400;
  width: 3200px;
  background: url('../images/second-ground.png') repeat-x bottom left;
  bottom: 100px;
  height: 363px;
}
.second-ground{
  z-index: 500;
  width: 3000px;
  background: url('../images/mid-ground.png') repeat-x bottom left;
  bottom: 100px;
  height: 250px;
}
.floor{
  z-index: 600;
  width: 2500px;
  background: url('../images/floor.png') repeat-x top left;
  bottom: 0;
  height: 250px;
}
.robotin{
  width: 3200px;
  bottom: 400px;
  z-index: 650;

  .robot1{
    width: 450px;
    height: 550px;
    position: absolute;
    left: 1800px;
    border: none;

    background: url('../images/robotin_1.png') no-repeat top left;
  }
}


//***************************************
//************** STAGE 02 ***************
.stage02{
  .sky,
  .floor,
  .island,
  .robotin{
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .sky{
    width: 1900px;
    top: 0;
    background: url('../images/stage02/sky.jpg') repeat-x top left;
    height: 100%;
  }
  .floor{
    z-index: 600;
    width: 100%;
    background: url('../images/stage02/grass.png') repeat-x top left;
    bottom: 0;
    height: 120px;
    background-size: 100% auto;
  }
  .island{
    z-index: 500;
    background: url('../images/stage02/island.png') no-repeat bottom left;
    bottom: 30%;
    height: 250px;
    left: 45%;
    width: 370px;
  }
  .robotin{
    width: 300px;
    bottom: 0;
    height: 200px;
    left: 55%;
    z-index: 650;
    .robot1{
      width: 450px;
      height: 120px;
      position: absolute;
      left: 0;
      border: none;
      bottom: 0;

      background: url('../images/robotin_1.png') no-repeat top left;
      background-size: 100px;
    }
  }
  .escena02{
    #myModal {
      background: rgba(0,0,0,0.7);
    }
    .modal-content{
      left: -300px;
      height: 650px;
      width: 1200px;
      overflow: hidden;
      border: 10px solid white;
      .tech-land{
        border-radius: 6px;
        height: 650px;
        width: 1200px;
        overflow: hidden;
        .city{
          height: 650px;
          width: 100%;
          background: url('../images/stage02/citi02.png') repeat-x top left;
          position: absolute;
          top: 0;
        }
        .sky-02{
          height: 650px;
          width: 120%;
          background: url('../images/stage02/sky02.jpg') repeat-x top left;
          position: absolute;
          top: 0;
          left: 0;
        }
        h1{
          font-family: 'Monoton', cursive;
          position: absolute;
          top: 30px;
          left: 50px;
          border: 4px solid;
          padding: 10px 20px;
          text-transform: uppercase;
          color: greenyellow;
          font-size: 400%;
          background:rgba(black,0.6);
          text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.5)
        }
      }
    }
  }
}