.stage04{
  .sky,{
    width: 3000px;
    top: 0;
  }
  .back-ground{
    top: 0;
    z-index: 400;
    width: 3200px;
    background: url('../images/stage04/fabrica.jpg') repeat-x bottom left;
    height: 597px;
  }
  .second-ground{
    z-index: 500;
    width: 3000px;
    background: url('../images/stage04/banda.png') repeat-x left;
    height: 50px;
  }
    .robot1{
      z-index: 600;
      width: 200px;
      height: 240px;
      border: none;
      background: url('../images/robotin_1.png') no-repeat top left;
      background-size: 200px;
    }
}