//***************************************
//************** STAGE 02 ***************
.stage03{
    .animType2{}
    .animType3{}
}


.styleAnimType1 {
  -moz-animation-name: animType1;
  -moz-animation-duration: 5000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 0 0;
  -o-animation-name: animType1;
  -o-animation-duration: 5000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 0 0;
  -webkit-animation-name: animType1;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 0 0;
}
@-moz-keyframes animType1 {
  0% {-moz-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-moz-transform:translate(-15px, 205px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);}
}
@-o-keyframes animType1 {
  0% {-o-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-o-transform:translate(-15px, 205px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);}
}
@-webkit-keyframes animType1 {
  0% {-webkit-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-webkit-transform:translate(-15px, 205px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);}
}