//***************************************
//************** STAGE 02 ***************
.stage03{
    .paper{
        width:80px;
        height:80px;
        position:fixed;
        background-size:80px;
        top: 10%;
    }
    .iconDatabase{
        background:url("../images/stage03/icons/database.png");background-size:80px;
    }
    .iconJpg{
        background:url("../images/stage03/icons/jpg.png");background-size:80px;
    }
    .iconMobile{
        background:url("../images/stage03/icons/mobile.png");background-size:80px;
    }
    .iconPsd{
        background:url("../images/stage03/icons/psd.png");background-size:80px;
    }
    .iconWord{
        background:url("../images/stage03/icons/word.png");background-size:80px;
    }
    .paper01{        
        left:6%;
    }
    .paper02{
        left:13%;
    }
    .paper03{
        left:18%;
    }
    .paper04{
        left:25%;
    }
    
    .paper05{
        left:30%;
    }
    .paper06{
        left:36%;
    }
    .paper07{
        left:43%;
    }
    .paper08{
        left:50%;
    }
    .paper09{
        left:56%;
    }
    .paper10{
        left:63%;
    }
    .paper11{
        left:72%;
    }
    .paper12{
        left:80%;
    }
    .paper13{
        left:86%;
    }
    .paper14{
        left:94%;
    }


}


.animType1 {
  -moz-animation-name: animType1-transform-keyframes;
  -moz-animation-duration: 5000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 0 0;
  -o-animation-name: animType1-transform-keyframes;
  -o-animation-duration: 5000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 0 0;
  -webkit-animation-name: animType1-transform-keyframes;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
}
@-moz-keyframes animType1-transform-keyframes {
  0% {-moz-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-moz-transform:translate(-109px, 239px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}
@-o-keyframes animType1-transform-keyframes {
  0% {-o-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-o-transform:translate(-109px, 239px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}
@-webkit-keyframes animType1-transform-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-webkit-transform:translate(-109px, 239px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}

/***************************************/

.animType2 {
  -moz-animation-name: animType2-transform-keyframes;
  -moz-animation-duration: 7000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 0 0;
  -o-animation-name: animType2-transform-keyframes;
  -o-animation-duration: 7000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 0 0;
  -webkit-animation-name: animType2-transform-keyframes;
  -webkit-animation-duration: 7000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
}
@-moz-keyframes animType2-transform-keyframes {
  0% {-moz-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-moz-transform:translate(-41px, 202px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}
@-o-keyframes animType2-transform-keyframes {
  0% {-o-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-o-transform:translate(-41px, 202px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);
left:45%;}
}
@-webkit-keyframes animType2-transform-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-webkit-transform:translate(-41px, 202px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}

/***************************************/

.animType3 {
  -moz-animation-name: animType3-transform-keyframes;
  -moz-animation-duration: 4000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 0 0;
  -o-animation-name: animType3-transform-keyframes;
  -o-animation-duration: 4000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 0 0;
  -webkit-animation-name: animType3-transform-keyframes;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
}
@-moz-keyframes animType3-transform-keyframes {
  0% {-moz-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-moz-transform:translate(33px, 201px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}
@-o-keyframes animType3-transform-keyframes {
  0% {-o-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-o-transform:translate(33px, 201px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}
@-webkit-keyframes animType3-transform-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-webkit-transform:translate(33px, 201px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(0px, 500px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);left:45%;}
}

/***************************************/

.animType4 {
  -moz-animation-name: animType4-transform-keyframes;
  -moz-animation-duration: 6750ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 0 0;
  -o-animation-name: animType4-transform-keyframes;
  -o-animation-duration: 6750ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 0 0;
  -webkit-animation-name: animType4-transform-keyframes;
  -webkit-animation-duration: 6750ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
}
@-moz-keyframes animType4-transform-keyframes {
  0% {-moz-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  29.63% {-moz-transform:translate(91px, 169px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  74.07% {-moz-transform:translate(-88px, 359px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(6px, 495px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);left:45%;}
}
@-o-keyframes animType4-transform-keyframes {
  0% {-o-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  29.63% {-o-transform:translate(91px, 169px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  74.07% {-o-transform:translate(-88px, 359px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);-o-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-o-transform:translate(6px, 495px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);left:45%;}
}
@-webkit-keyframes animType4-transform-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(10deg) rotateY(30deg) rotateZ(80deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  29.63% {-webkit-transform:translate(91px, 169px) rotateX(70deg) rotateY(30deg) rotateZ(-77deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  74.07% {-webkit-transform:translate(-88px, 359px) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(6px, 495px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);left:45%;}
}